
// aby šel tento příklad vyřešit,
// musíš si do HTML doplnit nějaké další prvky

* {
box-sizing: border-box;
}

body {
margin: 0;
}

.page {
display: flex;
width: 100vw;
height: 100vh;
}

.nav {
  width: 20vw;
  padding: 15px;
  background: #d3e6d2;
}

.hero {
display: flex;
flex-direction: column;
flex: 1;
}

.header {
  height: 20vh;
  padding: 15px;
  background: #9bce0b;
}

.main {
display: flex;
flex-grow: 1;
}

.inside {
display: flex;
flex-direction: column;
justify-content: space-between;
flex-grow: 1;
}

.article {
  display: flex;
  flex-grow: 1;
  padding: 15px;
  background: white;
}

.aside {
  width: 20vw;
  padding: 15px;
  background: #f7f5d8;
}

.footer {  
  height: 20vh;
  background: #9bce0b;
}


