
// aby šel tento příklad vyřešit,
// musíš si do HTML doplnit nějaké další prvky

.nav {
  background: #d3e6d2;
}

.header {
  background: #9bce0b;
}

.article {
  background: white;
}

.aside {
  background: #f7f5d8;
}

.footer {
  background: #9bce0b;
}

