@use "sass:color";

* {
box-sizing: border-box;
}

$basecolor: #2325b8;
$secondcolor: color.adjust($basecolor, $lightness: +30%);
$thirdcolor: color.adjust($basecolor, $lightness: -40%);

.section-1 {
border: 5px solid $basecolor;
}

.section-2 {
border: 5px solid $secondcolor;
}

.section-3 {
border: 5px solid $thirdcolor;
}